fieldset {
    border-radius: 10px;
    background-color: white;
    margin:0;
    padding:0;
}
form {
    max-width: 600px;
    display: grid;
    gap:20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: rgba(225, 255, 255, 0.799);
}
body {
    margin:0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
