.papa {
    padding-top: 70px;
    text-align: center;
}

.papa1 {
    width: 400px;
    padding-bottom: 50px;
    justify-content: center;
    
}

.Images {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1600;
    column-gap: 30px;
}

.fox {
    display: flex;
    max-width: 600px;
    
}

.force {
    column-gap: 30px;
    max-width: 600px;
    text-align: ;
}
.mass {
    padding-left: 1170px;
}

.linaa {
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    width: 70px;
}

.view1 {
    max-width: 600px;
    padding-left: 350px;
    padding-top: 40px;
    padding-right: 270px;
}



.hm {
    display: grid;
    padding-left: 840px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 150px;
}

.kendra {
    display: flex;
}
.renards {
    display: flex;
    gap: 30px;
    padding-top: 25px;
    padding-left: 25px;

}
.renard {
    padding-top: 20px;
    padding-left: 25px;
}

.chat {
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-right: 350px;
    text-align: left;
}

body {
    margin-left: 60px;
}

.image2 {
    max-width: 1600px;
}