body {
    border-style: double;
    border-width: 10px;
    margin: 50px;
    border-radius: 20px;
    max-width: 250px;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.linaa {
    background-color: aliceblue;
    height: 22px;
    max-width: 200px;
}
button {
    width: 400px;
}