#links {
    display: flex;
    gap: auto;
    padding-left: 800px;
    column-gap: 50px;
    flex-wrap: nowrap;
    font-family: bookman old style;
    color:black;

}

#heads {
    display: flex;
    flex-wrap: nowrap;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    gap: 20px;
}

#headings {
   box-shadow: 5px 5px 15px grey;
   background-color:  rgb(245, 253, 255);
   border-radius: 7px;
   text-align: center;
}

body {
    margin: 40px;
    background-color: rgb(253, 253, 253);
}